{% extends 'base-back.html.twig' %}

{% block title %}New EventCalendar{% endblock %}

{% block body %}
    <h1>Ajouter Un Evènement Important Au Calendrier</h1><br><br>

    {{ include('event_calendar/_form.html.twig') }}<br>

    <br><a href="{{ path('app_event_index') }}"><button class="btn btn-info">Retour En Arrière</button></a>
{% endblock %}
