{% extends 'base.html.twig' %}

{% block title %}Edit Historiquevente{% endblock %}

{% block body %}
    <h1>Edit Historiquevente</h1>

    {{ include('historiquevente/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_historiquevente_index') }}">back to list</a>

    {{ include('historiquevente/_delete_form.html.twig') }}
{% endblock %}
