{% extends 'base.html.twig' %}

{% block title %}New Historiquevente{% endblock %}

{% block body %}
    <h1>Create new Historiquevente</h1>

    {{ include('historiquevente/_form.html.twig') }}

    <a href="{{ path('app_historiquevente_index') }}">back to list</a>
{% endblock %}
