<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
<h1>Hello</h1>
{% for produit in produits %}
{% set d="/portfolioDetails/"~produit.idprod ~"/like"%}
<a class="btn btn-success" href="{{ absolute_url(d)}}">Like</a>
<a class="btn btn-success" href="">Dislike</a>
{% endfor %}
</body>
</html>

