{% extends 'base_back.html.twig' %}

{% block title %}New Commandpm{% endblock %}

{% block body %}
    <h1>Ajouter Une Commande Du Matiere Premiere</h1>




    {{ include('commandpm/_form.html.twig') }}


{% endblock %}
